<div>
  <p>
    <% form_tag sessions_path do %>
      <label>Password:</label><br/>
       <%= password_field_tag :password %>
      <%= submit_tag "Login" %>
    <% end %><small>(super simple authentication)
  </p>
</div>