<h1>Watircuke Results</h1>

<table>
  <tr>
    <th>File</th>
    <th>When?</th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><b><%=h truncate(result.title, :length => 100) %></b></td>
    <td><%=h time_ago_in_words(result.created_at) %></td>
  </tr>
<% end %>
</table>
