<h1>Watircuke Results</h1>

<table>
  <tr>
    <th>File</th>
    <th>When?</th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><b><%=h truncate(result.title, :length => 100) %></b></td>
    <td><%=h result.created_at.strftime("%A " + "at %I:%M%p") %></td>
  </tr>
<% end %>
</table>
