<h1>Watircuke Results</h1>

<table>
  <tr>
    <th>When?</th>
    <th>File</th>
  </tr>

<% @results.each do |result| %>
  <tr>
  <td><%=h result.created_at.strftime("%A " + "at %I:%M%p") %> **** </td>
    <td><i><%=h truncate(result.title, :length => 100) %></i></td>
  </tr>
<% end %>
</table>
