<h1>Watircuke Results</h1>

<table>
  <tr>
    <th>File</th>
    <th>When?</th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%=h result.title %></td>
    <td><%= time_ago_in_words(result.created_at) %></td>
  </tr>
<% end %>
</table>
