<h1>Watircuke Results</h1>
<p><%= link_to 'Logout', logout_path %>
  
  <div id="results">
<table>
  <tr>
    <th>When?</th>
    <th>File</th>
  </tr>
  

<% @results.each do |result| %>
  <tr>
  <td><%=h result.created_at.strftime("%A " + "at %I:%M%p") %> **** </td>
    <td><i><%=h truncate(result.title, :length => 100) %></i></td>
  </tr>
<% end %>
</table>
<br/><br/>
<p align="center">  <%= will_paginate @results %></p>

</div>