
<div align="center">
<h1>Manage Iterations</h1>
<h5>*Click Link to set Iteration*</h5>

<table class="filter">
  <tr>
    <th></th>
      <th></th>
  </tr>

<% @iterations.each do |iteration| %>
  <tr>
  <% if iteration.default == true %>
    <td>*<%= link_to (iteration.title), set_default_path(:id => iteration.id) %>*</td>
  <% else %>  
      <td><%= link_to (iteration.title), set_default_path(:id => iteration.id) %></td>
  <% end %>  
    <td><small>(<%= link_to 'Edit', edit_iteration_path(iteration) %>)</small></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Iteration', new_iteration_path %>
</div>