<%= link_to 'ADD SCENARIO', new_manual_path %> | <%= link_to 'Results', results_path %>
<br/>
<br/>
<div id="manuals">
  <table>
    <th>Scenario</th>
    <th>Delete</th>
    <% @manuals.each do |manual| %>
      <tr>
      <td><%= link_to(manual.scenario, edit_manual_path(manual)) %></td>
      <td><%= link_to 'X', manual, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>  
    <% end %>
  </table>
</div>