#manuals-results {
	margin: 4em;
}

.manuals a:link {
	text-decoration: none;
}

.manuals a:visited {
	text-decoration: none;
}

table.manual_steps {
border:3px;
	border-style:solid;
}

#pass {
background: #C0FF3E;
  margin: 3em;
}