<h1>JS Playground</h1>
<script>
$("a").removeClass("test");

$("a").click(function(event){
   event.preventDefault();
   $(this).hide("slow");
 });

</script>

<a href="http://jquery.com/">jQuery</a>
